{% extends 'base.html' %} {% load static %} {% block Content %}

<div class="container">
  
  {% if not request.user.profil.image %}
  <div class="imagecontainer">
    <img class="round" src="{%static '/images/Tony.jpg'%}" alt="" />
  </div>
  {% else %}
  <div class="imagecontainer">
    <img class="round" src="{{request.user.profil.image.url}}" alt="" />
  </div>
  {% endif %}
  <div class="textcontainer">
    <h1>{{request.user.profil.Name}}</h1>
    <h2>Profession</h2>
    <div class="smailllinks">
      <a href="http://"
        ><i
          class="icon fa-regular fa-envelope"
          style="color: #fff; font-size: 2.5rem; margin: 0.5rem 2rem 1rem 0rem"
        ></i
      ></a>
      <a href="http://">
        <i
          class="icon fa-solid fa-phone"
          style="color: #fff; font-size: 2.5rem; margin: 0.5rem 1rem 1rem 0rem"
        ></i
      ></a>
    </div>
  </div>
  <div class="linkbutton">
    {% for button in request.user.links_set.all %}
    
    {% if button.name == "Youtube" %}

    <a
      class="yt ghost2"      
      style="color: black;"
      href="{% url 'update_link' button.id %}"

    >
      {{button.name}}
    </a>
      {% else %}

    <a
    role="button"
    class="in ghost2 update_link"
    id="{{button.id}}"
    href="{% url 'update_link' button.id %}"
    style="color: black;"
  >
    {{button.name}}
  </a>
    {% endif %}
      
    {% endfor %}

    
  </div>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Update or Delet Link
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="bodyfooter">
          
        </div>
      </div>

      </div>
    </div>
  </div>

  <!-- ===========================================YOUTUBE START -->
  <div
    class="modal fade"
    id="YOUTUBEMODEL"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Update or Delet Link
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Link:</label>
              <input type="text" class="form-control" id="recipient-name" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            style="margin-right: 1rem; background-color: #ff4b2b; color: #fff"
          >
            Update
          </button>
          <button
            data-dismiss="modal"
            type="button"
            class="btn btn-dangrous"
            style="margin-right: 1rem; background-color: #bea631; color: #fff"
            onclick="videoopen()"
          >
            VIEW
          </button>
          <button
            data-dismiss="modal"
            type="button"
            class="btn btn-dangrous"
            style="margin-right: 1rem; background-color: #ff2b4b; color: #fff"
          >
            Delet
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ===========================================YOUTUBE END  -->
</div>
<div class="popup_video">
  <span onclick="videoclose()">&times;</span>
  <video
    src="https://www.youtube.com/watch?v=wXG11HcJtOw"
    autoplay
    controls
  ></video>
</div>

<script>

  function initThemeSelector() {
    const themeSelect = document.getElementById("themeSelect");
    const themeStylesheetLink = document.getElementById("stylesheetlink");
    const currentTheme = localStorage.getItem("theme") || "default";

    function activateTheme(themeName) {
      themeStylesheetLink.setAttribute("href", `css/themes/${themeName}.css`);
    }

    themeSelect.addEventListener("change", () => {
      activateTheme(themeSelect.value);
      localStorage.setItem("theme", themeSelect.value);
    });

    themeSelect.value = currentTheme;
    activateTheme(currentTheme);
  }

  initThemeSelector();

  function videoopen() {
    document.querySelector(".popup_video").style.display = "block";
  }
  function videoclose() {
    document.querySelector(".popup_video").style.display = "none";
  }
</script>
{% endblock %}
